In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

#import data 
music_data = pd.read_csv('music.csv')

#cleaning data 
X = music_data.drop(columns=['genre'])
y = music_data['genre']
#split data to test and train

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

#create Model
model = DecisionTreeClassifier()

# train the model
model.fit(X_train,y_train)

#prediction
predictions = model.predict(X_test)

In [ ]:
X_train

    age  gender
15   31       0
2    25       1
10   21       0
1    23       1
9    20       0
17   35       0
0    20       1
6    31       1
3    26       1
5    30       1
13   27       0
7    33       1
11   25       0
4    29       1

In [ ]:
y_train

15    Classical
2        HipHop
10        Dance
1        HipHop
9         Dance
17    Classical
0        HipHop
6     Classical
3          Jazz
5          Jazz
13     Acoustic
7     Classical
11        Dance
4          Jazz
Name: genre, dtype: object

In [ ]:
# accuracy 

score = accuracy_score(y_test,predictions)
score

0.75